// Modal for adding updated information
#updateData.modal.fade(tabindex='-1', role='dialog', aria-labelledby='updateData', aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h4#updateData.modal-title
					| Add metric to graph
			.modal-body
				form#chartUpdateForm(role='form')
					.form-group
						label(for='username') Title
						input#title.form-control(type='text', name='title', value='Test metric', placeholder='Give your metric a name')
					.form-group
						label(for='username') Username
						input#username.form-control(type='text', name='username', value='ez', placeholder='Your username')
					.form-group
						label(for='accountName') Account Name
						input#accountName.form-control(type='text', name='accountName', value='customer1', placeholder='Default is Customer1')
					.form-group
						label(for='password') Password
						input#password.form-control(type='text', name='password', value='558208121121', placeholder="Account password")
					.form-group
						label(for='hostInfo') Host Address
						input#hostInfo.form-control(type='text', name='hostInfo', value='192.168.1.126:8090', placeholder="Ip address/domain + port (don't include http)")
					.form-group
						label(for='startTimeInput') UTC Start time
						input#startTimeInput.form-control(type='text', name='startTimeInput', value='July 13, 2016 02:07:00', placeholder='Format: October 13, 2014 11:13:00')
					.form-group
						label(for='endTimeInput') UTC End time
						input#endTimeInput.form-control(type='text', name='endTimeInput', value='July 13, 2016 02:30:00', placeholder='Format: October 13, 2014 11:13:00')
					.form-group
						label(for='metricId') Metric ID
						input#hostInfo.form-control(type='text', name='metricId', value='1235', placeholder="")
					.form-group
						label(for='entityId') Entity ID
						input#hostInfo.form-control(type='text', name='entityId', value='5', placeholder="")
					.form-group
						label(for='entityType') Entity Type
						input#hostInfo.form-control(type='text', name='entityType', value='APPLICATION', placeholder="")
					button#visualizeButton.btn.btn-default Visualize
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal')
					| Cancel