extends layout

block content
  h1 AppDynamics Visualizer
  p.lead Juxtapose your AppDynamics stats across different time periods
  hr
  .row
    .col-sm-6
      h2 No longer be limited by a single time period
      p The metric browser is limited to comparing different stats across a single time period. Now you can compare metrics from different time periods, and even across different time intervals.
      p
    .col-sm-6
      h2 Compare multiple applications/servers/whatever
      p You can also compare stats across different servers or applications.
      p
